body.public {
    background-image: linear-gradient(to right, #8b56fe, #5ddee6);
    color: white;

    a {
        color: white;
    }

    h2 {
        font-size: 1.2em;
        text-align: center;
    }

    .afccb861 {
        margin-top: 100px;
    }

    .c1a1fbje {
        width: 50%;
    }

    .eiigjhh1 {
        max-width: 350px;
        margin: 0 auto 25px;

        p {
            text-align: left;
        }
    }

    .error-message {
        margin-top: 10px;
        color: brown;
    }

    .height-fields {
        select {
            width: 25%;
            display: inline;
            margin-right: 5px;
        }
    }

    .birthday-fields {
        div {
            margin: 0 0 10px;
        }

        select {
            display: inline;
            width: 100px;
        }
    }
}
